.body{
    padding-left: 15px;
    padding-right: 15px;
}
.heading{
    padding-left: 10px;
    
 }

 .introduction{
   position: relative;
    color: black;
    height: 600px;
    background: rgb(159,159,159);
    background: linear-gradient(124deg, rgba(159,159,159,1) 0%, rgba(255,255,255,1) 50%);
   
 }

 .education{
    padding-left: 10px;
    margin-top: -22px;
    position: relative;
     color: black;
     height: 360px;
     background: rgb(159,159,159);
     background: linear-gradient(124deg, rgba(159,159,159,1) 0%, rgba(255,255,255,1) 50%);
    
  }

.word{
    position: absolute;
    top: 68px;
    width: 120px;
    height: 120px;
    left: 1060px;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}
  .word:hover {
  transition-duration: 0.5s;
  box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
  }
  .word:hover .word {
  transform: translateX(0px);
  }
.excel{
    position: absolute;
    top: 200px;
    width: 120px;
    height: 120px;
    left: 900px;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.excel:hover {
transition-duration: 0.5s;
box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
}
.excel:hover .excel {
transform: translateX(0px);
}
.powerpoint{
  position: absolute;
  top: 80px;
  width: 120px;
  height: 120px;
  left: 722px;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.powerpoint:hover {
transition-duration: 0.5s;
box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
}
.powerpoint:hover .powerpoint {
transform: translateX(0px);
}



  .workexper{
    margin-top: -22px;
    position: relative;
     color: black;
     height: 700px;
     background: rgb(159,159,159);
     background: linear-gradient(124deg, rgba(159,159,159,1) 0%, rgba(255,255,255,1) 50%);
    
  }
  .workexperposition{
    position: relative;
    left: 600px;
    top: 42px;
  }
#Navigation {

padding-left: 0%;
color: rgb(134, 116, 116)10, 101, 101;
margin-top: 0%;
margin-left: -1%;
background-color: white;
}
.space{
padding-left: 10px;
}

.myimg {
position: relative;
top: 50px;
width: 500px;
height: 450px;
left: 70px;
border-radius: 20px;
overflow: hidden;
transition: box-shadow 0.3s;
}

.myimg:hover {
transition-duration: 0.5s;
box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
}



.myimg:hover .myimg {
transform: translateX(0px);
}
.introtext{
   position: relative;
   top: -400px;
   left: 720px;
   
}

.sqlimg {
    position: absolute;
    top: 50px;
    width: 455px;
    height: 450px;
    left: 70px;
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    }
    
    .sqlimg:hover {
    transition-duration: 0.5s;
    box-shadow: 0 10px 40px -4px rgb(0 0 0 / 55%);
    }
    
    
    
    .sqlimg:hover .sqlimg {
    transform: translateX(0px);
    }
    .introtext{
       position: relative;
       top: -400px;
       left: 720px;
       
    }

.introparagraph{
    position: relative;
    top: -400px;
    left: 700px;
    
 }
